name: scraper

on:
    workflow_dispatch:
    schedule:
        - cron: "0 * * * *" # runs every hour

jobs:
    generate_list:
        runs-on: ubuntu-slim
        steps:
            - name: checkout repo content
              uses: actions/checkout@v6

            - name: get the latest data
              run: |
                  cargo run

            - name: commit files
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git add -A
                  git diff --name-only --cached --exit-code || ( git commit -am "update allowlist" && git push )
